---
title: Contact Us
layout: page
javascript:
- /js/verify.notify.min.js
---

<div class="row">

    <div class="col-xs-12 col-sm-5 col-sm-push-7">

        <h2>Contact info</h2>

        {% if site.email != null %}
        <p class="contact-email">
            <a href="mailto:{{ site.email }}">
                {{ site.email }}
            </a>
        </p>
        {% endif %}

        {% if site.phone != null %}
        <p class="contact-phone">
            <a href="tel:{{ site.phoneref }}">
                {{ site.phone }}
            </a>
        </p>
        {% endif %}

        {% if site.address != null %}
        <h4>
            Head Office
        </h4>
        <p class="contact-address">
            {% for item in site.address %}
            {{ item }}
            {% if item.last %}
            {% else %}
            <br />
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}

    </div>

    <div class="col-xs-12 col-sm-7 col-sm-pull-5">

        <h2>Fill out the online enquiry form</h2>

        <form id="form" method="post" action="http://forms.redronin.com/">

            <input type="hidden" name="subject" value="{{ site.title }} Contact Us">
            <input type="hidden" name="return" value="+thankyou">
            <input type="hidden" name="sendto" value="{{ site.email }}">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" data-validate="required"/>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter email address" data-validate="required,email"/>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter phone number" data-validate="phone"/>
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" class="form-control" data-validate="required"></textarea>
            </div>

            <input type="submit" value="Send" class="submit form-control btn btn-default" />

        </form>

    </div>

</div>



<div class="row">

    <h1 class="page-header text-center">
        Locations
    </h1>

    <div class="col-xs-12 col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.5318241592213!2d145.22869271578998!3d-37.84784484376835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63c00b0d2843f%3A0xde47f66a693fa4d7!2s9%2F322+Mountain+Hwy%2C+Wantirna+VIC+3152!5e0!3m2!1sen!2sau!4v1447117364703"
                frameborder="0"
                class="embed-responsive-item"
                style="border:0" allowfullscreen>
            </iframe>
        </div>
        <p>
            Suite 9/322 Mountain Hwy<br />Wantirna Victoria 3152
        </p>
        <p>
            Ph: (03) 9729 9255
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.363719910547!2d145.1786003157889!3d-37.80494874131294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad638e265f33aa9%3A0x88def4a90fc81e6c!2s25+Worrell+St%2C+Nunawading+VIC+3131!5e0!3m2!1sen!2sau!4v1447117399461"
                class="embed-responsive-item"
                frameborder="0"
                style="border:0" allowfullscreen>
            </iframe>
        </div>
        <p>
            25 Worrell Street,<br />Nunawading, Victoria 3131
        </p>
        <p>
            Ph: (03) 9894 0862
        </p>
    </div>
</div>
