---
title: Nude Massage Studio in Bayswater
layout: none
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <h2>
				In a class by itself, Serenity Palms is the newest <strong>nude massage studio in Bayswater</strong>            
			</h2>
			<p>How long has it been since you did a little something for yourself? We’re a <strong>nude massage studio in bayswater</strong> with a twist!</p>
            <p>
                Let’s face it, you’ve been thinking about this for a while, that’s why you’re here, but you’re not quite sure. At Serenity Palms, we’re confident that our girls can be the deal breakers. Our beautiful Australian Massage therapists are ready to stimulate your senses and tantalise you into a trance.
            </p>
            <p>
                Think of it: A beautiful nude girl (or two) running her hands all over you and taking your stresses and cares away. Although we’re a <strong>nude massage studio in bayswater</strong>, we’re all about the tease, and that’s how we like it, so please refrain from asking for any sexual requests.
            </p>
            <p>
                So why not come in and experience our girls for yourself, we can promise that you’ll be completely satisfied and eager for more. 
            </p>
            <p>
                Come and experience the best <strong>nude massage studio in bayswater</strong> and relax with a view!</p>
        </div>

        <div class="col-xs-12 col-sm-6 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.5318241592213!2d145.22869271578998!3d-37.84784484376835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63c00b0d2843f%3A0xde47f66a693fa4d7!2s9%2F322+Mountain+Hwy%2C+Wantirna+VIC+3152!5e0!3m2!1sen!2sau!4v1447117364703"
                    frameborder="0"
                    class="embed-responsive-item"
                    style="border:0" allowfullscreen>
                </iframe>
            </div>
            <p>
                Suite 9/322 Mountain Hwy<br />Wantirna Victoria 3152
            </p>
            <p>
                Come down and see us today, we are only 25 minutes down the Eastern Fwy from the Melbourne CBD. Forget the rest now try the best - we know what you want.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 well well-lg text-center">
            <h3>
                Opening Hours<br />
                Weekdays 11am till 9pm<br />
                Weekends 12noon till 6pm
            </h3>
            <p>
                (After hour bookings are welcome)
            </p>
            <p>
                Give us a call on <a href="tel:{{ site.phoneref }}">{{ site.phone }}</a> or pop in for the best full body relaxation oil massage you've ever had.
            </p>
        </div>
    </div>

</div>


<div class="container">
    <div class="row" style="
        margin-top: 20px;
        ">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <a href="https://www.facebook.com/serenitypalmsmassage/" target="_new">
                <img src="/images/facebook.png" class="img-responsive center-block" />
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header text-center">
              FREE massage when you pay for nudity
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3 text-center">
            <p>
                1 hour<br />Nude Massage
            </p>
            <h1>
                $120
            </h1>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <p>
                30 min<br />Nude Massage
            </p>
            <h1>
                $80
            </h1>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <p>
              45 min<br />Nude Massage
            </p>
            <h1>
                $100
            </h1>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <p>
                1 hour<br />Four hands
            </p>
            <h1>
                $240
            </h1>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="/images/nonsexual.jpg" alt="" class="img-responsive center-block" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header text-center">
                Our Ladies
            </h1>
        </div>
    </div>

    <div class="row">
      {% for item in site.static_files %}
        {% if item.path contains "ourladies" %}
          <div class="col-xs-12 col-sm-12" style="margin-bottom: 20px;">
              <img src="{{ item.path }}" class="img-responsive" style="width:100%" />
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
